<div class="col-md-4-offset-md-4">
    <div class="card">
        <div class="card-body">
            <form>
                <div class="from-group">
                    <input type="text" name="mov_title" placeholder="Título" class="form-control" autofocus>
                </div>
                <div class="from-group">
                    <input type="text" name="mov_year" placeholder="Año" class="form-control" autofocus>
                </div>
                <div class="from-group">
                    <input type="text" name="mov_time" placeholder="Duración" class="form-control" autofocus>
                </div>
                <div class="from-group">
                    <input type="text" name="mov_lang" placeholder="Idioma" class="form-control" autofocus>
                </div>
                <div class="from-group">
                    <input type="text" name="mov_dt_rel" placeholder="Fecha de estreno" class="form-control" autofocus>
                </div>
                <div class="from-group">
                    <input type="text" name="mov_rel_country" placeholder="Pais" class="form-control" autofocus>
                </div>
                <div class="from-group">
                    <input type="url" name="mov_image_url" placeholder="Imagen" class="form-control" autofocus>
                </div>
                <button class="btn btn-success btn-block">
                    Guardar
                </button>
            </form>
        </div>
    </div>
</div>
